/*-------- Font Family Starts -------*/

@font-face { font-family: "NunitoSans-Light"; src: url("../fonts/NunitoSans-Light.ttf"); }
@font-face { font-family: "NunitoSans-Regular"; src: url("../fonts/NunitoSans-Regular.ttf"); }
@font-face { font-family: "NunitoSans-SemiBold"; src: url("../fonts/NunitoSans-SemiBold.ttf"); }
@font-face { font-family: "NunitoSans-Bold"; src: url("../fonts/NunitoSans-Bold.ttf"); }
@font-face { font-family: "NunitoSans-ExtraBold"; src: url("../fonts/NunitoSans-ExtraBold.ttf"); }

/*-------- Font Family Ends -------*/

/*-------- Reset CSS Starts -------*/

html { font-size: 10px; letter-spacing: 0.25px; }
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
address,
figure { margin: 0; padding: 0; }
li { list-style: none; }

/*-------- Reset CSS Ends -------*/

/*-------- Common CSS Starts -------*/

.container-fluid { padding: 70px 15px; }
.row { margin: 0 -15px; }
.row [class^=col] { padding: 0 15px; }
.section-heading > div { color: #002332; font: 2rem/normal "NunitoSans-Regular"; margin-bottom: 5px; }
.section-heading > div > img { margin-right: 10px; width: 30px; }
.section-heading > div > span { color: #0382B7; }
.section-heading > h2 { color: #1E1E1E; font: 3rem/normal "NunitoSans-ExtraBold"; margin-bottom: 30px; text-transform: uppercase; }
.section-heading > h2 > span { color: #0382B7; }
.section-heading-ip > h1 { color: #FFFFFF; font: 4rem/1.2 "NunitoSans-Bold"; margin-bottom: 5px; padding-bottom: 10px; position: relative; text-align: center; text-transform: uppercase; z-index: 1; }
.section-heading-ip > h1::after { background-color: #fff; bottom: 0; content: ""; display: block; height: 2px; left: 50%; position: absolute; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); width: 100px; z-index: -1; }
p { color: #777777; font: 1.8rem/1.7 "NunitoSans-Regular"; }
.btn-primary > a,
.btn-secondary > a { align-items: center; background-color: #0382B7; border: 2px solid #0382B7; -webkit-border-radius: 27px; -moz-border-radius: 27px; -ms-border-radius: 27px; -o-border-radius: 27px; border-radius: 27px; color: #FFFFFF; display: inline-flex; font: 1.6rem/normal "NunitoSans-Bold"; padding: 14px 28px; text-align: center; text-transform: uppercase; }
.btn-primary > a > svg { height: 22px; margin-right: 7px; }
.btn-primary > a > svg path { -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.btn-primary > a:hover { background-color: #FFB800; border-color: #FFB800; color: #1E1E1E; }
.btn-primary > a:hover > svg path { fill: #1E1E1E; stroke: #1E1E1E; }
.btn-secondary > a { background-color: #FFFFFF; border: 2px solid #0382B7; color: #0382B7; }
.btn-secondary > a:hover { background-color: #0382B7; color: #FFFFFF; }
a,
a:hover,
a:focus,
a::after { outline: 0; text-decoration: none; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }

/*-------- Common CSS Ends -------*/

/*------- LogIn and SignUp Page Starts -------*/

.box-login-signup { background-color: #F7F7F7; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; padding: 30px; }
.box-login-signup-heading > h3 { color: #002332; font: 2.4rem/normal "NunitoSans-Bold"; margin-bottom: 15px; text-align: center; }
.box-login-signup-heading > p { margin-bottom: 30px; text-align: center; }
.forget-password > a { color: #0382B7; font-family: "NunitoSans-SemiBold"; text-decoration: underline; }
.forget-password > a:hover,
.login-signup-redirection > a:hover { color: #002332; }
.login-signup-redirection { color: #002332; font-family: "NunitoSans-SemiBold"; text-align: center; }
.login-signup-redirection > a { color: #0382B7; text-decoration: underline; }
.btn-cancel { background-color: #DC143C; border: 2px solid #DC143C; -webkit-border-radius: 27px; -moz-border-radius: 27px; -ms-border-radius: 27px; -o-border-radius: 27px; border-radius: 27px; color: #FFFFFF; display: block; font: 1.6rem/normal "NunitoSans-Bold"; letter-spacing: 0.5px; margin-top: 15px; padding: 14px 32px; text-align: center; text-transform: uppercase; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 100%; }
.btn-cancel:hover { background-color: transparent; color: #DC143C; }

/*------- LogIn and SignUp Page Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Mobile Logo and Burger Menu Section Starts -------*/

.bg-logo-burger-menu-mobile,
.fixed-navbar-menu-mobile { display: none; }

	/*------- Mobile Logo and Burger Menu Section Ends -------*/

  /*------- Desktop Header Section Starts -------*/

.bg-header-desktop { background-color: #FFFFFF; left: 0; padding: 15px; position: fixed; top: 0; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 100%; z-index: 2; }
.bg-header-desktop.active { box-shadow: 0 5px 12px 1px rgba(35, 31, 32, 0.09); }
.logo-header-desktop > a { display: inline-block; }
.logo-header-desktop > a > img { width: 70px; }
.menu-listing-desktop > li { margin-right: 50px; }
.menu-listing-desktop > li:last-child { margin-right: 0; }
.menu-listing-desktop > li > a { color: #1E1E1E; font: 1.8rem/normal "NunitoSans-SemiBold"; padding-bottom: 5px; position: relative; z-index: 1; }
.menu-listing-desktop > li > a::after { background-color: #0382B7; bottom: 0; content: ""; display: block; height: 2px; left: 0; position: absolute; width: 0; z-index: -1; }
.menu-listing-desktop > li.active > a,
.menu-listing-desktop > li > a:hover { color: #0382B7; }
.menu-listing-desktop > li.active > a::after,
.menu-listing-desktop > li > a:hover::after { width: 100%; }
.btn-profile-add-to-cart-donate-now > li { margin-right: 30px; position: relative; z-index: 1; }
.btn-profile-add-to-cart-donate-now > li:last-child { margin-right: 0; }
.btn-profile-add-to-cart-donate-now > li.profile-li i { border: 2px solid #0382B7; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; color: #0382B7; cursor: pointer; display: block; font-size: 2.4rem; height: 54px; line-height: 50px; text-align: center; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 54px; }
.btn-profile-add-to-cart-donate-now > li.profile-li.active > i,
.btn-profile-add-to-cart-donate-now > li.profile-li > i:hover { background-color: #0382B7; }
.btn-profile-add-to-cart-donate-now > li.profile-li.active > i,
.btn-profile-add-to-cart-donate-now > li.profile-li > i:hover { color: #FFFFFF; }
.profile-dropdown { background-color: #0382B7; display: none; min-width: 150px; left: 0; position: absolute; top: 76px; z-index: 1; }
.profile-dropdown > li > a { border-bottom: 2px solid #FFFFFF; color: #fff; display: block; font: 1.6rem/normal "NunitoSans-SemiBold"; padding: 10px 20px; }
.profile-dropdown > li:last-child > a { border-bottom: 0; }
.profile-dropdown > li > a:hover { background-color: #FFB800; color: #FFFFFF; }
.shopping-cart-listing-dropdown { background-color: #0382B7; display: none; max-height: 350px; min-width: 450px; overflow-y: auto; position: absolute; right: 0; top: 62px; z-index: 1; }
.shopping-cart-listing-dropdown > li > .box-checkout-products { border-bottom: 2px solid #FFFFFF; }
.shopping-cart-listing-dropdown > li:last-child > .box-checkout-products { border-bottom: 0; }
.shopping-cart-listing-dropdown > li .box-checkout-products-image-name-qty > div > h4 { color: #FFFFFF; }
.shopping-cart-listing-dropdown > li .box-checkout-products-image-name-qty > div > p { color: #F7F7F7; }
.shopping-cart-listing-dropdown > li:last-child { background-color: #0382B7; bottom: 0; padding: 15px; position: sticky; }
.shopping-cart-listing-dropdown > li .box-checkout-products-amt > p { align-items: center; color: #FFFFFF; display: -webkit-box; display: -webkit-flex; display: flex; justify-content: flex-end; line-height: normal; }
.shopping-cart-listing-dropdown > li .box-checkout-products-amt > p > i { color: #FFFFFF; cursor: pointer; padding-left: 10px; }
.shopping-cart-listing-dropdown > li .box-checkout-products-amt > p > i:hover { color: #FFB800; }
.btn-proceed-to-checkout-white { background-color: #FFFFFF; border: 0; -webkit-border-radius: 27px; -moz-border-radius: 27px; -ms-border-radius: 27px; -o-border-radius: 27px; border-radius: 27px; color: #1E1E1E; display: block; font: 1.6rem/normal "NunitoSans-Bold"; letter-spacing: 0.5px; padding: 16px 32px; text-align: center; text-transform: uppercase; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 100%; }
.btn-proceed-to-checkout-white:hover { background-color: #FFB800; color: #1E1E1E; }
.btn-profile-add-to-cart-donate-now > li.shopping-cart-li > span { display: block; position: relative; z-index: 1; }
.btn-profile-add-to-cart-donate-now > li.shopping-cart-li > span > i { color: #0382B7; cursor: pointer; font-size: 2.4rem; }
.btn-profile-add-to-cart-donate-now > li.shopping-cart-li > span > span { background-color: #FFB800; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; color: #FFFFFF; display: block; font: 1.2rem/normal "NunitoSans-Regular"; height: 25px; line-height: 25px; position: absolute; right: -14px; text-align: center; top: -14px; width: 25px; z-index: 1; }
.btn-profile-add-to-cart-donate-now > li.donate-now-li > a { background-color: #0382B7; -webkit-border-radius: 27px; -moz-border-radius: 27px; -ms-border-radius: 27px; -o-border-radius: 27px; border-radius: 27px; color: #FFFFFF; display: inline-flex; font: 1.6rem/normal "NunitoSans-Bold"; padding: 16px 25px; text-align: center; text-transform: uppercase; }
.btn-profile-add-to-cart-donate-now > li.donate-now-li > a > i { margin-right: 7px; }
.btn-profile-add-to-cart-donate-now > li.donate-now-li > a:hover { background-color: #FFB800; color: #1E1E1E; }

  /*------- Desktop Header Section Ends -------*/

  /*------- Wrapper Section Starts -------*/

.main-wrapper { margin-top: 100px; }

  /*------- Wrapper Section Ends -------*/

  /*------- Slider Section Starts -------*/

.bg-banner-slider { padding: 0; position: relative; z-index: 1; }
.bg-banner-slider::before {
	background-color: rgb(0 0 0 / 40%);
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.box-banner { background-color: rgb(0 35 50 / 70%); -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; left: auto; padding: 30px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); z-index: 1; }
.box-banner > h1 { color: #FFFFFF; font: 4rem/normal "NunitoSans-ExtraBold"; margin-bottom: 10px; }
.box-banner > h1 > span { color: #FFB800; }
.box-banner > p { color: #FFFFFF; margin-bottom: 25px; }
.btn-read-more-view-products { display: -webkit-box; display: -webkit-flex; display: flex; }
.btn-read-more-view-products > li { margin-right: 20px; }
.btn-read-more-view-products > li:last-child { margin-right: 0; }
.btn-read-more-view-products > li:first-child > a { background-color: #0382B7; border: 2px solid #0382B7; }
.btn-read-more-view-products > li:last-child > a { background-color: #FFB800; border: 2px solid #FFB800; }
.btn-read-more-view-products > li > a { align-items: center; -webkit-border-radius: 27px; -moz-border-radius: 27px; -ms-border-radius: 27px; -o-border-radius: 27px; border-radius: 27px; color: #FFFFFF; display: inline-flex; font: 1.6rem/normal "NunitoSans-Bold"; padding: 14px 28px; text-align: center; text-transform: uppercase; }
.btn-read-more-view-products > li > a > svg { height: 22px; margin-right: 7px; }
.btn-read-more-view-products > li > a > svg path { -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.btn-read-more-view-products > li > a:hover > svg path { fill: #1E1E1E; stroke: #1E1E1E; }
.btn-read-more-view-products > li > a:hover { background-color: #FFFFFF; border-color: #FFFFFF; color: #1E1E1E; }
.banner-slick-slider .slick-prev,
.banner-slick-slider .slick-next { background-color: #FFFFFF; height: 50px; width: 50px; z-index: 1; }
.banner-slick-slider .slick-prev { -webkit-border-radius: 0 14px 14px 0; -moz-border-radius: 0 14px 14px 0; -ms-border-radius: 0 14px 14px 0; -o-border-radius: 0 14px 14px 0; border-radius: 0 14px 14px 0; left: 0; }
.banner-slick-slider .slick-next { -webkit-border-radius: 14px 0 0 14px; -moz-border-radius: 14px 0 0 14px; -ms-border-radius: 14px 0 0 14px; -o-border-radius: 14px 0 0 14px; border-radius: 14px 0 0 14px; right: 0; }
.banner-slick-slider .slick-prev::before,
.banner-slick-slider .slick-next::before {
	color: #1E1E1E;
	content: "\f053";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
  opacity: 1;
}
.banner-slick-slider .slick-next::before {
	content: "\f054";
}
.banner-slick-slider.slick-initialized .slick-slide { margin-bottom: -5px; }
.banner-slick-slider .slick-slide img { height: calc(100vh - 98px); object-fit: cover; width: 100%; }

	/*------- Slider Section Ends -------*/

  /*------- About Us Section Starts -------*/

.bg-about { padding: 170px 15px; position: relative; z-index: 1; }
.ohm-image-about { bottom: 50px; position: absolute; right: 50px; z-index: 1; }
.about-image { position: relative; z-index: 1; }
.about-image-top { left: -20px; position: absolute; top: -100px; z-index: -1; }
.about-image-top > img,
.about-image-bottom > img { height: 200px; object-fit: cover; width: 200px; }
.about-image-top > img,
.about-image-center > img,
.about-image-bottom > img { -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }
.about-image-center { text-align: center; }
.about-image-center > img { width: 80%; }
.about-image-bottom { bottom: -100px; position: absolute; right: -20px; z-index: -1; }
.about-info { margin-left: 20px; }
.about-section-heading > h2 { margin-bottom: 20px; }
.about-desc > p { margin-bottom: 15px; }
.about-desc > p:last-of-type { margin-bottom: 30px; }

  /*------- About Us Section Ends -------*/

  /*------- Products Section Starts -------*/

.bg-products { background-color: rgb(3 130 183 / 10%); }
.box-products { background-color: #FFFFFF; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; margin-bottom: 30px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.box-products:hover { box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); -ms-transform: translateY(-10px); -o-transform: translateY(-10px); transform: translateY(-10px); }
.box-products-image > a { -webkit-border-radius: 20px 20px 0 0; -moz-border-radius: 20px 20px 0 0; -ms-border-radius: 20px 20px 0 0; -o-border-radius: 20px 20px 0 0; border-radius: 20px 20px 0 0; display: block; overflow: hidden; position: relative; }
.box-products-image > a > img { -webkit-border-radius: 20px 20px 0 0; -moz-border-radius: 20px 20px 0 0; -ms-border-radius: 20px 20px 0 0; -o-border-radius: 20px 20px 0 0; border-radius: 20px 20px 0 0; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.box-products-info { padding: 20px; }
.box-products-heading > h4 { font: 2rem/normal "NunitoSans-Bold"; margin-bottom: 5px; }
.box-products-heading > h4 > a { color: #1E1E1E; display: inline-block; }
.box-products-heading > h4 > a:hover { color: #0382B7; }
.box-products-heading > p { color: #0382B7; margin-bottom: 15px; }
.box-products:hover > .box-products-image > a > img { -webkit-transform: scale(1.25) rotate(7deg); -moz-transform: scale(1.25) rotate(7deg); -ms-transform: scale(1.25) rotate(7deg); -o-transform: scale(1.25) rotate(7deg); transform: scale(1.25) rotate(7deg); }
.btn-read-view-more-products { margin-top: 20px; }

  /*------- Products Section Ends -------*/

  /*------- Extra Details Section Starts -------*/

.bg-extra-details { padding: 70px 15px 40px; }
.box-extra-details { background-color: #FFFFFF; border: 2px solid #0382B7; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; margin-bottom: 30px; }
.box-extra-details-icon { padding: 20px; text-align: center; }
.box-extra-details-icon > img { width: 70px; }
.box-extra-details-heading { background-color: #0382B7; }
.box-extra-details-heading > h4 { color: #FFFFFF; font: 2rem/normal "NunitoSans-SemiBold"; padding: 10px 15px; text-align: center; }
.box-extra-details-desc { padding: 20px; }
.box-extra-details-desc > p { color: #1E1E1E; margin-bottom: 20px; text-align: center; }

  /*------- Extra Details Section Ends -------*/

  /*------- Footer Section Starts -------*/

.bg-footer { background-color: #002332; }
.footer-logo > a { display: inline-block; }
.footer-logo > a > img { margin-bottom: 20px; width: 80px; }
.footer-about-desc > p { color: #FFFFFF; font: 1.6rem/1.7 "NunitoSans-Light"; padding-right: 15px; }
.footer-heading > h3 { color: #FFFFFF; font: 2.2rem/1.4 "NunitoSans-Bold"; margin-bottom: 20px; text-transform: uppercase; }
.footer-heading > h3 > span { color: #FFB800; }
.quick-links-listing > li { margin-bottom: 15px; }
.quick-links-listing > li:last-child { margin-bottom: 0; }
.quick-links-listing > li > a { color: #FFFFFF; font: 1.6rem/normal "NunitoSans-Light"; }
.quick-links-listing > li > a > i { padding-right: 5px; }
.quick-links-listing > li > a:hover { color: #FFB800; }
.footer-contact-listing > li { margin-bottom: 15px; }
.footer-contact-listing > li:last-child { margin-bottom: 0; }
.footer-contact-listing > li { padding-left: 30px; position: relative; z-index: 1; }
.footer-contact-listing > li:first-child::before,
.footer-contact-listing > li:nth-child(2)::before,
.footer-contact-listing > li:nth-child(3)::before { color: #FFFFFF; content: "\f3c5"; display: block; font-family: "Font Awesome 5 Free"; font-size: 1.6rem; font-weight: 900; left: 0; position: absolute; top: 2px; z-index: 1; }
.footer-contact-listing > li:nth-child(2)::before { content: "\f879"; }
.footer-contact-listing > li:nth-child(3)::before { content: "\f0e0"; }
.footer-contact-listing > li > address > p { color: #FFFFFF; font: 1.6rem/normal "NunitoSans-Light"; }
.footer-contact-listing > li > a { color: #FFFFFF; font: 1.6rem/1.7 "NunitoSans-Light"; }
.footer-contact-listing > li > a:hover { color: #FFB800; }
.footer-social-listing > li { margin-right: 20px; }
.footer-social-listing > li:last-child { margin-right: 0; }
.footer-social-listing > li > a { color: #FFFFFF; display: block; font-size: 1.6rem; }
.footer-social-listing > li > a:hover { color: #FFB800; }

  /*------- Footer Section Ends -------*/

  /*------- Copyright Section Starts -------*/

.bg-copyright { background-color: #002332; border-top: 1px solid #F7F7F7; padding: 30px 15px; }
.copyright-info > p,
.design-develop-by > p { color: #FFFFFF; font: 1.6rem/normal "NunitoSans-Light"; }
.copyright-info > p > span,
.design-develop-by > p > a { color: #FFB800; font-family: "NunitoSans-Regular"; }
.design-develop-by > p { text-align: right; }
.design-develop-by > p > a:hover { color: #FFFFFF; }
.design-develop-by > p > a > img { -webkit-filter: invert(1); filter: invert(1); width: 70px; }

  /*------- Copyright Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- About Us Page Starts -------*/

  /*------- Inner Banner Section Starts -------*/

.bg-inner-banner-ip { background: url("../images/banner-ip.jpg") no-repeat bottom/cover; padding: 100px 15px; position: relative; z-index: 1; }

	/*------- Inner Banner Section Ends -------*/

  /*------- Vision and Mission Section Starts -------*/

.vision-mission-section-heading > h2 { align-items: center; display: flex; }
.vision-mission-section-heading > h2 > img { background-color: #0382B7; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; height: 60px; margin-right: 10px; padding: 10px; width: 60px; }
.vision-mission-section-heading > h2 > span { margin-left: 10px; }

	/*------- Vision and Mission Section Ends -------*/

/*------- About Us Page Ends -------*/

/*------- Products Page Starts -------*/

  /*------- Products Section Starts -------*/

.bg-products-pp { background-color: rgb(3 130 183 / 10%); padding: 70px 15px 40px; }
.pagination-design { margin-top: 20px; }
.pagination-design > li > a.page-link { border: 2px solid #002332; color: #002332; font: 1.6rem/normal "NunitoSans-SemiBold"; }
.pagination-design > li.page-item:not(:first-child) .page-link { margin-left: calc(var(--bs-border-width) * -2); }
.pagination-design > li.active > a.page-link,
.pagination-design > li.active > a.page-link:hover { background-color: #002332; border-color: #002332; color: #FFFFFF; }
.pagination-design > li.page-item.disabled { cursor: not-allowed; }
.pagination-design > li > a.page-link:hover { background-color: rgb(0 35 50 / 20%); }
.pagination-design > li > a.page-link:focus { box-shadow: none; }

  /*------- Products Section Ends -------*/

/*------- Products Page Ends -------*/

/*------- Product Details Page Starts -------*/

  /*------- Product Details Section Starts -------*/

.box-product-detail-image > img { -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }
.box-product-detail-heading > h3 { color: #0382B7; font: 2.4rem/normal "NunitoSans-Bold"; margin-bottom: 10px; }
.box-product-detail-desc > p { margin-bottom: 15px; }
.box-product-detail-price > h4 { color: #0382B7; font: 2rem/normal "NunitoSans-SemiBold"; margin-bottom: 15px; }
.quantity-pdp { -webkit-align-items: center; align-items: center; border: 2px solid #002332; -webkit-border-radius: 27px; -moz-border-radius: 27px; -ms-border-radius: 27px; -o-border-radius: 27px; border-radius: 27px; display: -webkit-inline-box; display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; }
.quantity-pdp > span { padding: 0 20px; }
.quantity-pdp > input { color: #FFFFFF; font: 2rem/normal "NunitoSans-Regular"; padding: 0.85rem .75rem; text-align: center; width: 40px; }
.quantity-pdp > input[readonly] { background-color: #002332; border: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.quantity-pdp > input[readonly]:focus { box-shadow: none; color: #FFFFFF; }
.quantity-pdp > span:last-child { margin-right: 0; }
.quantity-inc-dec { color: #002332; cursor: pointer; display: inline-block; font: 1.6rem/normal "NunitoSans-Regular"; }
.box-product-detail-info > .btn-add-to-cart-pdp { margin-top: 20px; }

  /*------- Product Details Section Ends -------*/

  /*------- Related Products Section Starts -------*/

.bg-related-product-pdp { background-color: rgb(3 130 183 / 10%); padding: 70px 15px 40px; }

  /*------- Related Products Section Ends -------*/

/*------- Product Details Page Ends -------*/

/*------- View Cart Page Starts -------*/

  /*------- View Cart Section Starts -------*/

.box-table-design { border: 2px solid #002332; margin-bottom: 50px; }
.box-table-design-cart-totals,
.box-table-design-products,
.table-design { margin-bottom: 0; }
.table-design > thead > tr > th { background-color: #002332; border-bottom: 0; color: #FFFFFF; font: 1.8rem/1.2 "NunitoSans-SemiBold"; padding: 10px 15px; text-transform: uppercase; }
.table-design > tbody > tr > td { border-bottom: 2px solid #002332; color: #002332; font: 1.8rem/normal "NunitoSans-SemiBold"; padding: 10px 15px; vertical-align: middle; }
.table-design > tbody > tr > td.total-label,
.table-design > tbody > tr > td.total-value { background-color: #FFB800; }
.table-design > tbody > tr:last-child > td { border-bottom: 0; padding: 15px; }
.view-cart-image-product-name-vcp { align-items: center; display: -webkit-box; display: -webkit-flex; display: flex; }
.view-cart-image-vcp > img { margin-right: 15px; width: 70px; }
.view-cart-product-name-vcp > p { color: #002332; font-family: "NunitoSans-SemiBold"; }
.delete-product { color: #002332; cursor: pointer; font-size: 2.4rem; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.delete-product:hover { color: #DC143C; }
.td-update-cart { text-align: right; }
.btn-update-cart { background-color: #0382B7; border: 0; -webkit-border-radius: 27px; -moz-border-radius: 27px; -ms-border-radius: 27px; -o-border-radius: 27px; border-radius: 27px; color: #FFFFFF; font: 1.6rem/normal "NunitoSans-Bold"; height: 54px; letter-spacing: 1px; padding: 10px 30px; text-align: center; text-transform: uppercase; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.btn-update-cart:hover,
.btn-proceed-to-checkout:hover,
.btn-place-order:hover,
.btn-login-signup:hover,
.btn-submit:hover { background-color: #FFB800; color: #1E1E1E; }
.btn-update-cart:focus,
.btn-proceed-to-checkout:focus,
.btn-place-order:focus,
.btn-login-signup:focus,
.btn-submit:focus { outline: 0; }
.box-view-cart-totals-vcp,
.box-view-cart-totals-cop { margin-bottom: 0; }
.box-table-design > h4 { background-color: #002332; color: #FFFFFF; font: 2rem/normal "NunitoSans-SemiBold"; padding: 10px 15px; text-align: center; text-transform: uppercase; }
.btn-proceed-to-checkout,
.btn-place-order,
.btn-login-signup,
.btn-submit { background-color: #0382B7; border: 0; -webkit-border-radius: 27px; -moz-border-radius: 27px; -ms-border-radius: 27px; -o-border-radius: 27px; border-radius: 27px; color: #FFFFFF; display: block; font: 1.6rem/normal "NunitoSans-Bold"; letter-spacing: 0.5px; padding: 16px 32px; text-align: center; text-transform: uppercase; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 100%; }

  /*------- View Cart Section Ends -------*/

/*------- View Cart Page Ends -------*/

/*------- Checkout Page Starts -------*/

  /*------- Checkout Section Starts -------*/

.bg-checkout-cop { padding: 70px 15px 40px; }
.form-group-contact { margin-bottom: 30px; }
.form-label-contact { color: #1E1E1E; font: 1.8rem/normal "NunitoSans-SemiBold"; margin-bottom: 10px; }
.form-label-contact > span.required { color: #DC143C; }
.form-label-contact > span.optional { color: #1E1E1E; }
.form-control-contact { border: 2px solid #1E1E1E; -webkit-border-radius: 22px; -moz-border-radius: 22px; -ms-border-radius: 22px; -o-border-radius: 22px; border-radius: 22px; color: #1E1E1E; font: 1.8rem/normal "NunitoSans-SemiBold"; height: calc(4.4rem + 0px); padding: 10px 20px; }
.form-control-contact::placeholder {
  color: #777777;
  opacity: 1;
}
.form-control-contact::-ms-input-placeholder {
  color: #777777;
}
.form-control-contact:focus { background-color: rgb(3 130 183 / 10%); border-color: #0382B7; box-shadow: none; }
.form-control-contact:focus::placeholder { color: #1E1E1E; }
textarea.form-control-contact { min-height: 140px; resize: none; }
.box-checkout-products { border-bottom: 2px solid #002332; padding: 15px; }
.box-checkout-products + .box-checkout-products { border-top: 0; }
.box-checkout-products-image-name-qty { align-items: start; display: -webkit-box; display: -webkit-flex; display: flex; }
.box-checkout-products-image-name-qty > img { margin-right: 10px; width: 100px; }
.box-checkout-products-image-name-qty > div > h4 { color: #002332; font: 1.8rem/normal "NunitoSans-Bold"; }
.box-checkout-products-image-name-qty > div > p { color: #002332; font-family: "NunitoSans-SemiBold"; }
.box-checkout-products-amt > p { color: #002332; font-family: "NunitoSans-SemiBold"; text-align: right; }

  /*------- Checkout Section Ends -------*/

/*------- Checkout Page Ends -------*/

/*------- Contact Us Page Starts -------*/

  /*------- Contact Info and Map Section Starts -------*/

.bg-contact-info-map-cp { padding-bottom: 0; }
.box-contact-info-cp { -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; margin-bottom: 30px; padding: 30px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.box-contact-info-cp-1 { background-color: rgb(16 110 171 / 20%); }
.box-contact-info-cp-2 { background-color: rgb(51 176 74 / 20%); }
.box-contact-info-cp-3 { background-color: rgb(93 18 189 / 20%); margin-bottom: 0; }
.box-contact-icon-cp { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; height: 80px; margin: 0 auto 20px; text-align: center; width: 80px; }
.box-contact-icon-cp > i { color: #ffffff; font-size: 3.6rem; line-height: 80px; }
.box-contact-icon-cp-1 { background-color: rgb(16 110 171 / 100%); }
.box-contact-icon-cp-2 { background-color: rgb(51 176 74 / 100%); }
.box-contact-icon-cp-3 { background-color: rgb(93 18 189 / 100%); }
.box-contact-info-cp > address { color: #1E1E1E; font: 1.8rem/1.7 "NunitoSans-Regular"; text-align: center; }
.box-contact-info-cp > address > span { display: block; }
.box-contact-info-cp > p { font-family: "NunitoSans-Regular"; text-align: center; }
.box-contact-info-cp > p > a { color: #1E1E1E; }
.box-contact-info-cp-2 > p > a:hover { color: rgb(51 176 74 / 100%); }
.box-contact-info-cp-3 > p > a:hover { color: rgb(93 18 189 / 100%); }
.map-cp { border: 1px solid #cccccc; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; padding: 10px; height: 690px; width: 100%; }
.btn-submit { width: auto; }

  /*------- Contact Info and Map Section Ends -------*/

/*------- Contact Us Page Ends -------*/